/* nav start  */
nav {
  width: 100%;
  position: fixed;
  height: 65px;
  background-color: #1d3a48;
}

.navbar {
  font-family: "Roboto", sans-serif;
  margin: 0 70px;
  height: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-icon {
  display: flex;
  gap: 10px;
  align-items: center;
}
.navbar-icon i {
  color: white;
  font-size: 30px;
}
.text1 {
  font-size: 30px;
  color: rgb(110, 207, 255);
}
.text2 {
  color: white;
  font-size: 25px;
}
.navbar-link {
  font-size: 20px;
  display: flex;
  gap: 20px;
  align-items: center;
}
.position {
  position: relative;
}
.yeni {
  position: absolute;
  bottom: 24px;
  right: -10px;
  /* left: 15px; */
  color: black;
  font-size: 7px;
  background-color: #0cceff;
  border-radius: 2px;
  padding: 1px 4px;
}

.navbar-link a {
  color: white;
}
.tur-tercih {
  color: #8cd9ff;
}
.film-buton {
  background-color: #2b5063;
  border-radius: 4px;
  padding: 7px 10px;
}
.giris-buton {
  background-color: #326884;
  padding: 7px 15px;
  border-radius: 4px;
}
